<!-- Blog Entries Column -->
<div class="col-md-8">

  <h1 class="my-4">Articles List</h1>

  <!-- Blog Post -->
  <% @articles.each do |article| %>
  <div class="card mb-4">
    <%= image_tag(article.image_url, class: 'card-img-top') %>
    <div class="card-body">
      <h2 class="card-title"><%= article.title %></h2>
      <p class="card-text text-primary">#<%= article.category.name %></p>
      <p class="card-text"><%= truncate(article.text, length: 200) %>...</p>
      <div>
        <%= link_to 'Read More', article, class:"btn btn-primary" %> 
        <% if user_signed_in? %>
          <%= link_to 'Delete Article', article_path(article), method: :delete, data: { confirm: 'Are you sure?' }, style:"float:right; margin-top: 8px" %>
        <% end %>
      </div>
    </div>
    <div class="card-footer text-muted">
      Posted on <%= article.created_at.strftime("%d/%m/%Y") %>
    </div>
  </div>
  <% end %>
  <!-- Pagination -->
  <ul class="pagination justify-content-center mb-4">
    <li class="page-item">
      <a class="page-link" href="#">&larr; Older</a>
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#">Newer &rarr;</a>
    </li>
  </ul>

</div>
<!-- Sidebar Widgets Column -->