<!-- Page Content -->
  <div class="container">
    <div class="row">
      <!-- Post Content Column -->
      <div class="col-lg-8">
        <!-- Title -->
        <h1 class="mt-4"><%= @article.title%></h1>
        <% if user_signed_in?%>
          <%= link_to 'Edit', edit_article_path(@article) %>
        <% end %>
          <%= link_to 'Back', articles_path, class:"ml-2" %>

        <hr>

        <!-- Date/Time -->
        <p><%= time_ago_in_words(@article.created_at) %></p>

        <hr>

        <!-- Preview Image -->
        <%= image_tag(@article.image_url, width: '900', height: '150', class: 'img-fluid rounded') %>
        <p class="text-primary mt-2">#<%= @article.category.name%></p>
        <hr>

        <!-- Post Content -->
        <p class="lead"><%= @article.text%></p>

        <hr>
        <!-- Single Comment -->

        <%= render @article.comments %>
        
        <!-- Comments Form -->
        <% if user_signed_in? %>
        <div class="card my-4">
          <h5 class="card-header">Leave a Comment:</h5>
          <div class="card-body">
              <%= render 'comments/form' %>
          </div>
        </div>
        <% end %>

        

      
      </div>
      <!-- Sidebar Widgets Column -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->